.footer {
  padding: 32px 0;
  background-color: $gray-bg;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $mobile-breakpoint) {
    flex-wrap: wrap;
    gap: 70px;
  }
}

.footer-logo {
  @media (max-width: $tablet-breakpoint) {
    display: none;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.footer-logo img {
  margin-bottom: 20px;

  @media (max-width: $mobile-breakpoint) {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
  }
}

.footer-nav-title,
.footer-contacts-title {
  font-weight: $weight-medium;
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  margin-bottom: 12px;

  @media (max-width: $mobile-breakpoint) {
    font-size: 16px;
  }
}

.footer-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-nav,
.footer-contacts {
  @media (max-width: $mobile-breakpoint) {
    flex: 1;
  }
}

.footer__link,
.footer-contact-item {
  font-weight: $weight-medium;
  font-size: $font-size-small;
  line-height: $line-height-small;
  color: $gray-light;
  transition: $transition-base;

  @media (max-width: $mobile-breakpoint) {
    font-size: 12px;
    line-height: 14px;
  }

  &:hover {
    color: $black;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.footer-contact-item {
  display: block;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;

  @media (max-width: $mobile-breakpoint) {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  max-width: 260px;

  @media (max-width: $mobile-breakpoint) {
    margin: 0 auto;
  }
}

.newsletter-form__text {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
}

.newsletter-form__input {
  background: $white;
  border: 1px solid $border-gray;
  border-radius: $border-radius-20;
  font-size: 15px;
  line-height: 18px;
  color: $border-gray;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 12px;
}

.newsletter-form__button {
  background: $button-bg;
  border: 1px solid $white;
  border-radius: $border-radius-20;
  width: 100%;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  transition: $transition-base;

  &:hover {
    background: darken($button-bg, 10%);
    border-color: $black;
  }
}
