.special-offers {
  padding: $section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-breakpoint) {
    padding: 40px 0;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 30px 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend %section-title;
    align-self: flex-start;
    width: 100%;

    @media (max-width: $mobile-breakpoint) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }
}